<cds-header aria-label="PNA Platform">
    <cds-header-menu-button button-label-active="Close menu" button-label-inactive="Open menu"></cds-header-menu-button>
    <cds-header-name href="index.html" prefix="PNA">Platform</cds-header-name>
    <cds-header-nav menu-bar-label="PNA Platform">
        <cds-header-nav-item href="prototipo/index.html">Prototipo</cds-header-nav-item>
        <cds-header-nav-item href="viz/index.html">Infografiche</cds-header-nav-item>
        <cds-header-nav-item href="docs/">Docs</cds-header-nav-item>
        <cds-header-nav-item href="data/">Data</cds-header-nav-item>
    </cds-header-nav>
</cds-header>